# Ignore compiled Python files  
__pycache__/  
*.pyc  
*.pyo  
 
# Ignore dags/__pycache__ and dags/scripts  
dags/__pycache__/  
dags/scripts/  
 
# Ignore specific data files  
data/cleaned.csv  
data/final_test.csv  
data/final_train.csv  
data/merged.csv  
data/transformed_test.csv  
data/transformed_train.csv  
 
# Ignore logs directory  
logs/  
 
# Ignore task4 directory  
task4/  
 
# Ignore environment files  
.env  
 
# Ignore virtual environments  
venv/  
env/  
 
# Ignore system files  
.DS_Store  
Thumbs.db

README.md 